/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, Helvetica, sans-serif;

  .demo {
    width: 500px;
    margin: auto;
    border: 1px solid var(--p-form-field-border-color);
    border-radius: 1rem;
    padding: 1rem;

    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }

    .controls {
      display: flex;
      gap: 0.5rem;
      justify-content: space-between;

      .checkbox-wrapper {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 1rem;
      }
    }
  }

  p {
    text-align: center;
  }
}
